<section class="section">
        <div class="container">
            <div class="row">
               <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                    <div class="phone">
                        <img class="img-responsive img-rounded" src="./images/sc1.png">
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="content">
                        <div class="pull-middle">
                            <h2 class="h1 page-header">Various minerals found on the planet</h2>
                            <ul class="media-list">
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-cloud icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Fuel for finding the next planet</h3>
                                  <p>The most important mission of planetary exploration is to collect spaceship fuel. Without fuel it is not possible to explore the vast universe.</p>
                                </div>
                              </li>
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-lock icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Material for developing spaceship</h3>
                                  <p>To explore the farther planets, let's customize the spaceship.</p>
                                </div>
                              </li>
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-user icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Encounter with unknown creatures</h3>
                                  <p>The unknown creatures also live on the new planet ......</p>
                                </div>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-right">
                    <div class="content">
                        <div class="pull-middle">
                            <h4><strong>Discover an unknown planet</strong></h4>
                            <p>The planet found by the player is managed as a token and managed on the block chain. You can exchange rare planets you discover with each other.</p>

                        </div>
                    </div>
                </div>
               <div class="col-md-4 col-md-offset-1 mt-100 mb-100">
                    <div class="phone">
                        <img class="img-responsive img-rounded" src="./images/sc2.png">
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="content">
                        <div class="pull-middle">
                            <h4><strong>Looking for farther stars</strong></h4>
                            <p>By playing the game and strengthening the spacecraft, you will be able to explore longer distances. Let's go on a journey to find the planet at the end of the universe</p>
                                                    <a href="./html5/index.html"> 
                          <button class="btn btn-success btn-circle" type="submit" onclick="goToGameLayer()">Play Game</button>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>