<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EtherPlanets (β)</title>
    <meta name="viewset" content="width=device-width, initial-scale=1">
    <meta name="title" content="EtherPlanets (β)">
    <meta name="catlog:page_id" content="001">
    <meta name="catlog:pv_id" content="001">
    <meta name="description" content="">
    <meta name="keywords" content="ethereum,blockchain">
    <meta property="og:locale" content="en">
    <meta property="og:title" content="EtherPlanets (β)">
    <meta property="og:type" content="">
    <meta property="og:image" content="http://etherplanets.com/images/top.png">
    <meta property="og:url" content="http://etherplanets.com">
    <meta property="og:description" content="This is a prototype game using ethereum.">
    <meta property="og:site_name" content="EtherPlanets (β)">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <style type="text/css">
    @import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);
    </style>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <meta property="og:image" content="http://mattn.kaoriya.net/images/logo.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>
    <script type="text/javascript">
    $(function(){
        console.log("overlay");
        //$.LoadingOverlay("show");
    });
    </script>
    <script type="text/javascript" src="/javascript/access_api.js"></script>

</head>
<body>
    <div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-uppercase" href="#">Ether Planets (β) <span class="label label-success text-capitalize">Ethereum</span></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
                <a href="#about">About</a>
            </li>
            <li class="page-scroll">
                <a href="/logout">Logout</a>
            </li>
        </ul>
      </div>
    </nav>

