<% include header %>




    <div class="jumbotron" style="height:300;background:url('/images/top.png');background-size:cover;" >
      <div class="container" style="height: 300px;">    
      </div>
    </div>



		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
		<div class="container text-center">
        <h2 class="form-signin-heading">Sign in</h2>
		<small class="text-muted">Twitterのアカウントでログインします。<br>(Twitterへの自動投稿などはありません.)</small>
		<p>
		<a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
		</p>



<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-right">
                    <div class="content">
                        <div class="pull-middle">
                            <h4><strong>未知の惑星を発見する</strong></h4>
                            <p>プレイヤーが見つけた惑星はトークンとして管理され、ブロックチェーン上に管理されます。発見したレアな惑星同士を友達同士で交換することもできます。</p>

                        </div>
                    </div>
                </div>
               <div class="col-md-4 col-md-offset-1 mt-100 mb-100">
                    <div class="phone">
                        <img class="img-responsive img-rounded" src="./images/sc1.png">
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="content">
                        <div class="pull-middle">
                            <h4><strong>より遠くの星を探しに</strong></h4>
                            <p>ゲームを遊び、宇宙船を強化することで、より長距離の探索が可能になります。宇宙の果てにある惑星を探す旅に出ましょう</p>
                            <button class="btn btn-success btn-circle" type="submit" onclick="goToGameLayer()">Play for free</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <small>© Copyright 2017. Crafted with oggata</small>
        </div>
    </footer>


  </body>
</html>
