<div class="jumbotron" style="background:url('/images/top.png');background-size:cover;">
  <div class="container">
    <h1 class="display-3 col-md-offset-1"><span style="color: white;">EtherPlanets (β)</span></h1>
    <p class="display-3 col-md-offset-1"><span style="color: white;">This is a prototype game using ethereum.</span></p>
    <p><a class="btn btn-primary btn-lg col-md-offset-1" href="#" role="button" onclick="goToGameLayer()">Play Game &raquo;</a></p>
  </div>
</div>