<% include header %>
<% include jumbotron %>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="hero-widget well well-sm">

                        <div class="text">
                            <var id="wallet_balance">0
                            </var>
                            <label class="text-muted">Ethereum</label>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="hero-widget well well-sm">

                        <div class="text">
                            <var id="coin_balance">0
                            </var>
                            <label class="text-muted">PlanetCoin</label>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="hero-widget well well-sm">

                        <div class="text">
                            <var id="game_score">0
                            </var>

                            <label class="text-muted">Score</label>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="wrapper">
            <div class="container">
            <h2 class="form-signin-heading">WalletAddress</h2><hr>
            <small class="text-muted">
                Please send ethereum you want to exchange GameCoin.<br>
                This game is prototype and you can't send ethereum to other address.
            </small>
            <div class="container">
                <form>
                    <div class="form-group">
                        <h5><var id="wallet_address">0</var></h5>
                        <var id="wallet_address_image">0</var>
                    </div>
                </form>
            </div>
    </div>
    <section class="section">
        <div class="container">

            <h2 class="form-signin-heading">BUY PlANET COIN</h2>
            <small class="text-muted">
                Please send ethereum you want to exchange game coin.<br>
                This game is prototype and you can't send ethereum that you sent to other address.
            </small>

            <div class="row">
                <br><br><br>
                <!-- Plans -->
                <section id="plans">
                    <div class="container">
                        <div class="row">
                            <!-- item -->
                            <div class="col-md-4 text-center">
                                <div class="panel panel-danger panel-pricing">
                                    <div class="panel-heading">
                                        <i class="fa fa-desktop"></i>
                                        <h3>10PlanetCOIN</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <p><strong>0.001ETH</strong></p>
                                    </div>
                                    <ul class="list-group text-center">
                                        <li class="list-group-item"><i class="fa fa-check"></i> Discount 0 ETH </li>
                                    </ul>
                                    <div class="panel-footer">
                                        <a class="btn btn-lg btn-block btn-danger" onclick="OnButtonClick(10)">BUY NOW!</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->

                            <!-- item -->
                            <div class="col-md-4 text-center">
                                <div class="panel panel-warning panel-pricing">
                                    <div class="panel-heading">
                                        <i class="fa fa-desktop"></i>
                                        <h3>100PlanetCOIN</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <p><strong>0.01ETH</strong></p>
                                    </div>
                                    <ul class="list-group text-center">
                                        <li class="list-group-item"><i class="fa fa-check"></i> Discount 0 ETH </li>
                                    </ul>
                                    <div class="panel-footer">
                                        <a class="btn btn-lg btn-block btn-warning" onclick="OnButtonClick(100)">BUY NOW!</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->

                            <!-- item -->
                            <div class="col-md-4 text-center">
                                <div class="panel panel-success panel-pricing">
                                    <div class="panel-heading">
                                        <i class="fa fa-desktop"></i>
                                        <h3>1000PlanetCOIN</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <p><strong>0.1ETH</strong></p>
                                    </div>
                                    <ul class="list-group text-center">
                                        <li class="list-group-item"><i class="fa fa-check"></i> Discount 0 ETH </li>
                                    </ul>
                                    <div class="panel-footer">
                                        <a class="btn btn-lg btn-block btn-success" onclick="OnButtonClick(1000)">BUY NOW!</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->

                        </div>
                    </div>
                </section>
                <!-- /Plans -->
            </div>
        </div>
    </section>



<% include aboutgame %>
<% include footer %>
